
# Firebase Configuration
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""

# Cloud Run Service Name
CLOUD_RUN_SERVICE_NAME="a2a-chat-hub"
# Cloud Run deployment region
GOOGLE_CLOUD_REGION="us-west1"

# Add an allowlist of emails and domans that you would like limit this app to,
# e.g "user@example.com, google.com" - user user@example.com and all users @ google.com,
ALLOWED_DOMAINS_EMAILS=""